.aside-filters {

  // .aside-filters__banner
  &__banner {
    height: 30rem;
  }
}

.banner {
  @extend %text-16;
  @extend %flex-center;
  text-align: center;
  font-weight: 500;
  background-color: #F4F4F6;
}