.aside-blog {
    // .aside-blog__title

    &__title {
        @extend %text-20;
        font-weight: 500;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    // .aside-blog__items

    &__items {
        @media (min-width: 1025px) {
            grid-template-columns: 1fr;
        }
    }

    &__item-date {
        @extend %text-12;

        &:not(:last-child) {
            margin-bottom: var(--offset-xs);
        }
    }

    &__item-title {
        @extend %text-16;
    }

    &__item-text {
        @extend %text-13;
    }
}
