#auth-popup,
#password-recovery {
    padding: 5rem;

    @media (max-width: 767px) {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

#login-enter {
    display: none;
}

.remind-password {
    @extend %text-12;
    color: var(--gray);
    text-decoration: underline;

    @media (any-hover: hover) {
        &:hover {
            //color: var(--green);
            color: var(--dark);
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: $transition all;

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}

.popup {
    background-color: #fff;
}

.aside-popup {
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 101;
    opacity: 0;
    visibility: hidden;
    bottom: 0;
    height: 100%;
    overflow-y: auto;
    overflow-y: auto;
    width: 51.5rem;
    background-color: #fff;
    transition: $transition all;
    @include scrollbar;

    &--basket {
        padding-bottom: 0;
    }

    &.active {
        right: 0;
        opacity: 1;
        visibility: visible;

        @media (max-width: 767px) {
            right: 0;
        }
    }

    @media (max-width: 767px) {
        width: 100%;
        right: -100%;
    }

    // .aside-popup__close

    &__close {
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 20;

        svg {
            fill: var(--dark-gray);
        }

        @media (any-hover: hover) {
            &:hover {
                svg {
                    fill: var(--red);
                }
            }
        }
    }

    // .aside-popup__title

    &__title {
        @extend %text-25;
        font-weight: 500;

        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }

    &__back-btn {
        @extend %vertical-align;
        @extend %text-14;
        color: var(--gray);
        transition: $transition color;

        svg {
            width: 1rem;
            height: 1rem;
            margin-right: var(--offset-xs);

            path {
                transition: $transition fill;
            }
        }

        &:not(:last-child) {
            margin-bottom: var(--gap);

            @media (max-width: 500px) {
                margin-bottom: 3rem;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                color: var(--dark);

                svg path {
                    fill: var(--dark);
                }
            }
        }
    }

    // .aside-popup__text

    &__text {
        @extend %text-14;

        &:not(:last-child) {
            margin-bottom: 4rem;
        }
    }

    // .aside-popup__tabs

    &__tabs {
        &:not(:last-child) {
            margin-bottom: 4rem;
        }
    }

    // .aside-popup__tab

    &__tab {
        padding-bottom: 0.9rem;

        &:not(:last-child) {
            margin-right: 4rem;
        }
    }

    // .aside-popup__content

    &__content {
        @media (min-width: 768px) {
            width: 30rem;
        }
    }

    &__body {
        &:not(:last-child) {
            padding-bottom: 3rem;
        }
    }

    // .aside-popup__form

    &__form {
        &:not(:last-child) {
            margin-bottom: 4rem;
        }
    }

    &__form-inputs {
        display: grid;
        gap: 1.5rem;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__form-wrap {
        @extend %flex-row-center;

        &:not(:last-child) {
            margin-bottom: 3rem;
        }

        .form-agree {
            align-items: center;
        }

        .check-text {
            margin-left: var(--offset-xxs);
        }
    }

    &__form-btn {
        @extend %text-14;
        font-weight: 600;
        padding: 1.3rem;
        width: 100%;
    }

    &__form-success {
        margin-top: 3rem;
    }

    // .aside-popup__link-btn

    &__link-btn {
        @extend %text-14;
        font-weight: 500;
        color: var(--green);
    }

    // .aside-popup__social

    &__social {
        padding-top: 3rem;
        border-top: 0.1rem solid #ccc;

        .social {
            gap: 2rem;
        }

        .social__item {
            svg {
                width: 4rem;
                height: 4rem;
            }
        }
    }

    // .aside-popup__social-title

    &__social-title {
        @extend %text-14;
        font-weight: 500;

        &:not(:last-child) {
            margin-bottom: var(--offset);
        }
    }
}
