.basket-product {
    display: grid;
    // .basket-product__img

    &__img {
        grid-area: image;
    }

    // .basket-product__title

    &__title {
        grid-area: title;
    }

    // .basket-product__list

    &__list {
        grid-area: list;
    }

    // .basket-product__buttons

    &__buttons {
        display: flex;
        gap: 2.8rem;
        grid-area: buttons;
    }

    &__btn {
        @extend %vertical-align;
        font-size: 1.3rem;
        line-height: 1.9rem;
        color: var(--gray-777);
        transition: var(--transition) color;

        svg {
            margin-right: var(--offset-xxxs);
        }

        &--delete {
            svg {
                fill: var(--dark);
            }

            @media (any-hover: hover) {
                &:hover {
                    color: var(--red);

                    svg {
                        fill: var(--red);
                    }
                }
            }
        }

        &--favorite {
            svg {
                stroke: var(--dark);
                transition: var(--transition) stroke;

                &.favorite {
                    stroke: var(--green);
                }
            }

            @media (any-hover: hover) {
                &:hover {
                    color: var(--green);

                    svg {
                        stroke: var(--green);
                    }
                }
            }
        }
    }

    // .basket-product__counter

    &__counter {
        grid-area: counter;
    }

    // .basket-product__prices

    &__prices {
        @extend %flex-col;
        grid-area: prices;

        > * {
            &:not(:last-child) {
                @media (min-width: 768px) {
                    margin-bottom: 2.6rem;
                }
            }
        }

        @media (min-width: 768px) {
            justify-content: flex-end;
            align-self: stretch;
        }

        @media (max-width: 767px) {
            display: grid;
            grid-template-columns: repeat(2, max-content);
            gap: var(--offset-xs);
        }
    }

    &__prices-wrap {
        gap: var(--offset-xxs);

        @media (min-width: 768px) {
            display: flex;
            align-items: flex-end;
        }
    }

    &__price {
        @extend %vertical-align;
        @extend %text-16;
        font-weight: 600;
        height: 100%;
    }

    // .basket-product__old-price

    &__old-price {
        @extend %text-12;
    }

    // .basket-product__discount

    &__discount {
        @extend %text-13;
        text-align: right;

        @media (max-width: 767px) {
            font-size: 1.2rem;
            line-height: 1.8rem;
        }
    }
}
