.basket-total {
    border: 0.1rem solid var(--gray-c0);
    padding: 4rem;

    @media (max-width: 500px) {
        padding: 3rem 1.5rem;
    }

    > * {
        &:not(:last-child) {
            margin-bottom: 2.4rem;
        }
    }

    // .basket-total__auth

    &__auth {
        @extend %text-14;
        max-width: 33.3rem;

        &:not(:last-child) {
            margin-bottom: 1.7rem;
        }
    }

    &__auth-btn {
        @extend %text-14;
        font-weight: 600;
        transition: var(--transition) color;

        @media (any-hover: hover) {
            &:hover {
                color: var(--green);
            }
        }
    }

    // .basket-total__promocode

    &__promocode {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    // .basket-total__list

    &__list {
        padding-bottom: 2.4rem;
        border-bottom: 0.1rem solid var(--line-color);
    }

    // .basket-total__list-item

    &__list-item {
        @extend %flex-row;
        @extend %text-13;

        &:not(:last-child) {
            margin-bottom: var(--offset-xxs);
        }

        dd span {
            font-weight: 600;
            color: var(--red);
        }
    }

    // .basket-total__overall

    &__overall {
        @extend %flex-row;
        @extend %text-20;
        font-weight: 500;
    }

    // .basket-total__btn

    &__btn {
        @extend %text-14;
        font-weight: 600;
        width: 100%;
        padding: 1.35rem;

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    // .basket-total__agreement

    &__agreement {
        @extend %text-13;

        a {
            font-weight: 500;

            @media (any-hover: hover) {
                &:hover {
                    color: var(--gray);
                }
            }
        }
    }
}

input[name="promocode"] {
    text-transform: uppercase;

    &::placeholder {
        text-transform: none;
    }

    &.valid {
        background-size: var(--icon-size);
        background-position: calc(100% - var(--gap) - 2rem) 50%;
        background-repeat: no-repeat;
    }
}
