.blog-section {
  padding-top: 8rem;

  @media (max-width: 500px) {
    padding-top: 5rem;
  }
}

.blog-tags {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1.3rem;
  margin: -0.7rem -0.7rem 0;

  >* {
    margin: 0.7rem;
  }
}

.blog-tag {
  @extend %vertical-align;
  @extend %text-14;
  font-weight: 500;
  padding: 0.8rem 1rem;
  border: 0.1rem solid #505661;
  transition: 0.3s all;

  svg {
    width: 1.6rem;
    height: 1.6rem;
    margin-left: 0.5rem;

    path {
      transition: 0.3s fill;
    }
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: #505661;
      color: #fff;

      svg path {
        fill: #fff;
      }
    }
  }
}

.blog-grid {
  display: grid;
  gap: 5.2rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 1024px) {
    gap: 3rem;
  }

  &__item {

    &:nth-child(10n + 1),
    &:nth-child(10n + 7) {
      grid-row: span 2;
      gap: 1.2rem;

      @media (min-width: 768px) and (max-width: 1024px) {
        grid-column: span 2;
      }

      @media (min-width: 1025px) {
        grid-template-columns: 1fr;
      }

      .blog-item__img {
        height: 33.6rem;

        @media (max-width: 767px) {
          height: 22.3rem;
        }
      }
    }

    &:nth-child(10n + 7) {
      @media (max-width: 1024px) {
        grid-column: unset;
        grid-row: unset;
      }

      .blog-item__img {
        @media (max-width: 1024px) {
          height: 22.3rem;
        }
      }
    }

    &:nth-child(10n + 6) {
      @media (min-width: 768px) and (max-width: 1024px) {
        grid-column: span 2;
      }

      .blog-item__img {
        @media (max-width: 1024px) {
          height: 33.6rem;
        }

        @media (max-width: 767px) {
          height: 22.3rem;
        }
      }
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}

.date,
.blog-item-text,
.tag {
  color: #9b9b9b;
}

.tag {
  @media (any-hover: hover) {
    &:hover {
      color: #000;
    }
  }
}

.date {
  display: block;
}

.blog-item-title {
  font-weight: 500;

  a {
    @media (any-hover: hover) {
      &:hover {
        color: #9b9b9b;
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 0.8rem;
  }
}

.blog-item-text {
  flex-grow: 1;

  &:not(:last-child) {
    margin-bottom: 1.2rem;
  }
}

.blog-item {
  display: grid;
  align-content: flex-start;
  gap: 5.2rem;

  @media (max-width: 1024px) {
    gap: 1.2rem;
  }

  @media (min-width: 1025px) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__inner {
    display: grid;
    align-content: flex-start;
    gap: 5.2rem;
    grid-column: span 2;

    @media (max-width: 1024px) {
      gap: 1.2rem;
    }

    @media (min-width: 1025px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // .blog-item__img

  &__img {
    display: block;
    overflow: hidden;

    @media (max-width: 1024px) {
      height: 22.3rem;
    }

    img {
      @extend %cover;
      transition: transform 0.8s linear;
      transform: translateZ(0);
    }

    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }

  &__content {
    @extend %flex-col;
  }

  // .blog-item__date

  &__date {
    @extend %text-13;

    @media (max-width: 500px) {
      font-size: 1.3rem;
      line-height: 1.9rem;
    }

    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }
  }

  // .blog-item__title

  &__title {
    @extend %text-20;
  }

  // .blog-item__text

  &__text {
    @extend %text-14;

    @media (max-width: 500px) {
      font-size: 1.4rem;
      line-height: 2.1rem;
    }
  }

  // .blog-item__tag

  &__tag {
    @extend %text-13;
    margin: 0.5rem;

    @media (max-width: 500px) {
      font-size: 1.3rem;
      line-height: 1.9rem;
    }
  }
}

.blog-page {
  padding-bottom: 13.8rem - 5.2rem;

  &__title {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  .pagination {
    justify-content: center;
  }
}

.blog-text {
  &__tag {
    @extend %text-14;
    margin: 0.5rem;
  }

  // .blog-text__inner

  &__inner {
    @media (max-width: 1024px) {
      display: grid;
      gap: 5.2rem;
    }

    @media (min-width: 1025px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__content {
    @media (min-width: 1025px) {
      width: calc(983 / 1532 * 100%);
    }

    >* {
      &:not(:last-child) {
        margin-bottom: 4rem;
      }
    }

    ul,
    li {
      @extend %text-16;
      list-style-type: disc;
      margin-left: 1rem;
    }

    h3,
    h4,
    h5,
    h6 {
      @extend %text-17;
      font-weight: 600;
    }
  }

  &__aside {
    @media (min-width: 1025px) {
      width: 46.5rem;
      flex-shrink: 0;
    }
  }

  // .blog-text__tags

  &__tags {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  // .blog-text__text

  &__text {
    p {
      @extend %text-16;

      a {
        font-weight: 600;
      }

      &:not(:last-child) {
        margin-bottom: 2.5rem;

        @media (max-width: 500px) {
          margin-bottom: 1.5rem;
        }
      }
    }
  }

  // .blog-text__slider

  &__slider {
    width: 100%;
    position: relative;

    /* @media (max-width: 1024px) {
            width: calc(100vw - 1.6rem * 2);
        } */
  }

  &__slider-item {
    height: 63.7rem;

    @media (max-width: 1024px) {
      height: 50rem;
    }

    @media (max-width: 767px) {
      height: 35rem;
    }

    img {
      @extend %cover;
    }
  }
}