.blog-section {
  padding-top: 8rem;

  @media (max-width: 500px) {
    padding-top: 5rem;
  }
}

.blog-tags {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1.3rem;
  margin: -0.7rem -0.7rem 0;

  >* {
    margin: 0.7rem;
  }
}

.blog-tag {
  @extend %vertical-align;
  @extend %text-14;
  font-weight: 500;
  padding: 0.8rem 1rem;
  border: 0.1rem solid #505661;
  transition: 0.3s all;

  svg {
    width: 1.6rem;
    height: 1.6rem;
    margin-left: 0.5rem;

    path {
      transition: 0.3s fill;
    }
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: #505661;
      color: #fff;

      svg path {
        fill: #fff;
      }
    }
  }
}

.blog-grid {
  display: grid;
  grid-gap: 5.2rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 1024px) {
    grid-gap: 3rem;
  }

  &__item {

    &:nth-child(10n + 1),
    &:nth-child(10n + 7) {
      grid-row: span 2;
      grid-gap: 1.2rem;

      @media (min-width: 768px) and (max-width: 1024px) {
        grid-column: span 2;
      }

      @media (min-width: 1025px) {
        grid-template-columns: 1fr;
      }

      .blog-item__img {
        height: 33.6rem;

        @media (max-width: 767px) {
          height: 22.3rem;
        }
      }
    }

    &:nth-child(10n + 7) {
      @media (max-width: 1024px) {
        grid-column: unset;
        grid-row: unset;
      }

      .blog-item__img {
        @media (max-width: 1024px) {
          height: 22.3rem;
        }
      }
    }

    &:nth-child(10n + 6) {
      @media (min-width: 768px) and (max-width: 1024px) {
        grid-column: span 2;
      }

      .blog-item__img {
        @media (max-width: 1024px) {
          height: 33.6rem;
        }

        @media (max-width: 767px) {
          height: 22.3rem;
        }
      }
    }
  }
}

.tags {
  display: flex;
}

.date,
.blog-item-text,
.tag {
  color: #9b9b9b;
}

.tag {
  @media (any-hover: hover) {
    &:hover {
      color: #000;
    }
  }
}

.date {
  display: block;
}

.blog-item-title {
  font-weight: 500;

  a {
    @media (any-hover: hover) {
      &:hover {
        color: #9b9b9b;
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 0.8rem;
  }
}

.blog-item-text {
  flex-grow: 1;

  &:not(:last-child) {
    margin-bottom: 1.2rem;
  }
}

.blog-item {
  display: grid;
  align-content: flex-start;
  grid-gap: 5.2rem;

  @media (max-width: 1024px) {
    grid-gap: 1.2rem;
  }

  @media (min-width: 1025px) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__inner {
    display: grid;
    align-content: flex-start;
    grid-gap: 5.2rem;
    grid-column: span 2;

    @media (max-width: 1024px) {
      grid-gap: 1.2rem;
    }

    @media (min-width: 1025px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // .blog-item__img

  &__img {
    display: block;

    @media (max-width: 1024px) {
      height: 22.3rem;
    }

    img {
      @extend %cover;

      transition: 1.5s transform;
    }

    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.015);
        }
      }
    }
  }

  &__content {
    @extend %flex-col;
  }

  // .blog-item__date

  &__date {
    @extend %text-13;

    @media (max-width: 500px) {
      font-size: 1.3rem;
      line-height: 1.9rem;
    }

    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }
  }

  // .blog-item__title

  &__title {
    @extend %text-20;
  }

  // .blog-item__text

  &__text {
    @extend %text-14;

    @media (max-width: 500px) {
      font-size: 1.4rem;
      line-height: 2.1rem;
    }
  }

  // .blog-item__tag

  &__tag {
    @extend %text-13;

    @media (max-width: 500px) {
      font-size: 1.3rem;
      line-height: 1.9rem;
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.blog-page {
  padding-bottom: 13.8rem - 5.2rem;

  &__title {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  .pagination {
    justify-content: center;
  }
}

.blog-text {
  // .blog-text__inner

  &__inner {
    display: grid;
    grid-gap: 5.2rem;

    @media (min-width: 1025px) {
      grid-template-columns: 98.3rem auto;
    }
  }

  // .blog-text__tags

  &__tags {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  // .blog-text__tag

  &__tag {
    @extend %text-14;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  // .blog-text__text

  &__text {
    p {
      @extend %text-16;

      a {
        font-weight: 600;
      }

      &:not(:last-child) {
        margin-bottom: 2.5rem;

        @media (max-width: 500px) {
          margin-bottom: 1.5rem;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }

  // .blog-text__slider

  &__slider {
    @media (max-width: 1024px) {
      width: calc(100vw - 1.6rem * 2);
    }

    .swiper-button-prev {
      left: 2rem;
    }

    .swiper-button-next {
      right: 2rem;
    }

    .swiper-slide {
      height: 63.7rem;

      @media (max-width: 767px) {
        height: 35rem;
      }

      img {
        @extend %cover;
      }
    }
  }
}

.aside-blog {
  // .aside-blog__title

  &__title {
    @extend %text-20;
    font-weight: 500;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  // .aside-blog__items

  &__items {
    display: grid;
    grid-gap: 5.2rem;

    @media (max-width: 1024px) {
      grid-gap: 3rem;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item-date {
    @extend %text-12;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__item-title {
    @extend %text-16;
  }

  &__item-text {
    @extend %text-13;
  }
}

.news-page {
  &__grid {
    display: grid;
    grid-gap: 5.2rem;

    @media (max-width: 1024px) {
      grid-gap: 3rem;
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.other-news {
  &__top {
    @extend %flex-row-center;

    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }

  .blog-item__img {
    min-height: 22.3rem;
  }
}