.filters-btn {
    @extend %text-13;
    font-weight: 500;
    position: relative;
    padding-left: 2.6rem;
    display: none;
    background-size: 1.6rem 1.6rem;
    background-position: 0 50%;
    background-repeat: no-repeat;

    @media (max-width: 1024px) {
        display: block;
    }
}

.filter-output {
    padding-left: 0.3rem;
}

.catalog-filters {
    @media (max-width: 1024px) {
        position: fixed;
        top: -150%;
        left: 0;
        z-index: 101;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        transition: $transition top;
        padding: 2.4rem 1.6rem;
        overflow-y: auto;
    }

    &.active {
        @media (max-width: 1024px) {
            top: 0;
        }
    }

    &__header {
        @extend %flex-row-center;
        display: none;

        @media (max-width: 1024px) {
            display: flex;
        }

        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }

    &__back-btn {
        width: 2rem;
        height: 2rem;
        margin-right: 0.8rem;
        flex-shrink: 0;

        svg {
            width: 2rem;
            height: 2rem;
        }
    }

    &__title {
        @extend %text-17;
        font-weight: 500;
        transition: $transition all;
        position: relative;
        margin-right: auto;
    }

    &__close {
        svg {
            width: 2rem;
            height: 2rem;
        }
    }

    &__row {
        @media (min-width: 1025px) {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem 2.6rem;
            padding-right: 3rem;
        }
    }

    // .catalog-filters__item

    &__item {
        position: relative;

        &:first-child {
            .catalog-drop-filter {
                @media (min-width: 1025px) {
                    width: 20.7rem;
                }
            }
        }

        &--material {
            .catalog-drop-filter {
                @media (min-width: 1025px) {
                    width: 39.1rem;
                }
            }
        }

        &--color {
            .catalog-drop-filter {
                &__item {
                    align-items: center;
                }
            }
        }
    }

    // .catalog-filters__reset-btn

    &__reset-btn {
        @extend %text-12;
        display: none;

        @media (min-width: 1025px) {
            margin-top: 1.5rem;
            font-weight: 600;
            color: var(--gray);
            transition: $transition color;
            display: flex;
            align-items: center;

            svg {
                flex-shrink: 0;
                margin-left: 0.5rem;
                width: 1.6rem;
                height: 1.6rem;
                fill: var(--gray);
                transition: $transition fill;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                color: var(--red);

                svg {
                    fill: var(--red);
                }
            }
        }
    }
}

.catalog-filter {
    &__toggle {
        @extend %vertical-align;
        @extend %text-14;
        cursor: pointer;

        @media (max-width: 1024px) {
            justify-content: space-between;
            width: 100%;
            padding: 2rem 0;
            border-bottom: 0.1rem solid #efefef;
            font-size: 1.5rem;
            line-height: 2.2rem;
        }

        span {
            &:not(:first-child) {
                font-weight: 600;
            }
        }

        svg {
            flex-shrink: 0;
            margin-left: 0.5rem;
            width: 1.4rem;
            height: 1.4rem;
            fill: var(--dark);

            @media (max-width: 1024px) {
                transform: rotate(-90deg);
                fill: var(--dark-gray);
            }
        }
    }
}

.catalog-drop-filter {
    @media (min-width: 1025px) {
        position: absolute;
        left: 0;
        top: 2rem;
        z-index: 20;
        background-color: #fff;
        border: 0.1rem solid #efefef;
        box-shadow: 0px -0.1rem 1rem rgba(0, 0, 0, 0.1);
        width: 28.5rem;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    // .catalog-drop-filter__item

    &__item {
        display: flex;
        cursor: pointer;

        @media (max-width: 1024px) {
            justify-content: space-between;
            flex-direction: row-reverse;
            align-items: center;
            padding: 1.6rem 0;
            border-bottom: 0.1rem solid #efefef;
        }

        &:not(:last-child) {
            @media (min-width: 1025px) {
                margin-bottom: 1.2rem;
            }
        }

        .check-text,
        .radio-text {
            @media (min-width: 1025px) {
                margin-left: 0.8rem;
            }
        }

        .check-color {
            @media (max-width: 1024px) {
                margin-right: auto;
            }

            & + .check-text {
                @media (max-width: 1024px) {
                    margin-left: 0;
                    min-width: 8rem;
                }
            }
        }
    }

    &__inner {
        @media (min-width: 1025px) {
            padding: 1.6rem;
        }

        @media (max-width: 1024px) {
            padding: 3rem 0;
        }
    }

    &__body {
        @media (min-width: 1025px) {
            height: 29.3rem - 1.6rem * 2;
            @include scrollbar;
        }
    }

    // .catalog-drop-filter__cols

    &__cols {
        display: grid;
        gap: 3rem;

        @media (min-width: 501px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__items {
        @media (min-width: 501px) {
            display: grid;
            column-gap: 3rem;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 1025px) {
            grid-template-columns: unset;
        }
    }

    // .catalog-drop-filter__col

    &__col {
        .check-text {
            @media (min-width: 1025px) {
                max-width: 11rem;
            }
        }
    }

    // .catalog-drop-filter__title

    &__title {
        @extend %text-12;
        font-weight: 600;
        //color: var(--dark-gray);
        text-transform: uppercase;
        letter-spacing: 0.1em;

        &:not(:last-child) {
            margin-bottom: 1.6rem;

            @media (max-width: 500px) {
                margin-bottom: 1rem;
            }
        }
    }

    // .catalog-drop-filter__buttons

    &__buttons {
        @extend %flex-row;

        @media (min-width: 1025px) {
            flex-direction: row-reverse;
            border-top: 0.1rem solid #efefef;
            padding: 1.5rem;
        }

        @media (max-width: 1024px) {
            margin: 0 -0.8rem;
        }
    }

    // .catalog-drop-filter__btn

    &__btn {
        padding: 0.6rem 1.6rem;

        @media (max-width: 1024px) {
            width: 50%;
            margin: 0 0.8rem;
        }

        &[type="reset"] {
            border-color: var(--green);
            color: var(--green);
            padding-left: 0.9rem;
            padding-right: 0.9rem;

            svg {
                fill: var(--green);
                margin-right: 0;
                margin-left: 0.3rem;

                @media (max-width: 500px) {
                    margin-left: 0.7rem;
                }
            }

            @media (any-hover: hover) {
                &:hover {
                    background-color: var(--red);
                    border-color: var(--red);
                    color: #fff;

                    svg {
                        fill: #fff;
                    }
                }
            }
        }
    }

    // .catalog-drop-filter__reset-btn

    &__reset-btn {
        @extend %vertical-align;
        padding: 0.6rem 1rem;

        svg {
            margin-left: 0.3rem;

            path {
                transition: $transition fill;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                svg path {
                    fill: #fff;
                }
            }
        }
    }

    // .catalog-drop-filter__price-range

    &__price-range {
        @media (min-width: 1025px) {
            display: flex;
            justify-content: space-between;
        }

        @media (max-width: 1024px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.6rem;
        }
    }

    &__input {
        @extend %text-12;
        line-height: 1.4rem;
        font-style: italic;
        width: 22.4rem;
        border: 1px solid var(--line-color);
        padding: 0.8rem;

        &:not(:last-child) {
            margin-bottom: 1.6rem;
        }

        &::placeholder {
            //color: var(--gray-c0);
            color: var(--gray);
        }
    }
}

.price-range {
    // .price-range__item

    &__item {
        @extend %vertical-align;

        span {
            @extend %text-14;
            white-space: nowrap;
            margin-right: 0.6rem;
        }
    }

    // .price-range__input

    &__input {
        @extend %text-13;
        width: 9rem;
        padding: 0.45rem;
        border: 0.1rem solid var(--line-color);

        @media (max-width: 1024px) {
            width: 100%;
        }

        &::placeholder {
            color: var(--gray-c0);
        }

        &:focus {
            border-color: var(--dark);
        }
    }
}
