.drop-menu {
    display: none;

    @media (min-width: 1025px) {
        display: block;
        padding: 3rem 0 4rem;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 101;
        width: 100%;
        background-color: #fff;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: $transition all;
    }

    // .drop-menu__row

    &__row {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 'menu-1 menu-2 menu-3 . sale sale';
        align-items: flex-start;
    }

    &__col {
        &--1 {
            grid-area: menu-1;
        }

        &--2 {
            grid-area: menu-2;
        }

        &--3 {
            grid-area: menu-3;
        }
    }

    &__sale {
        width: 33.6rem;
        grid-area: sale;
        justify-self: end;

        .sale-item__img {
            height: 25rem;
        }
    }

    // .drop-menu__col-title

    &__col-title {
        @extend %text-14;
        font-weight: 600;
        margin-bottom: var(--offset);
    }

    // .drop-menu__list-item

    &__list-item {
        &:not(:last-child) {
            margin-bottom: var(--offset-xs);
        }
    }

    // .drop-menu__list-link

    &__list-link {
        @extend %text-13;
    }
}
