.drop-basket {
    &__body {
        @extend %flex-col;
        height: 100vh;
    }

    &__inner {
        @extend %flex-col;
        flex-grow: 1;
        padding: 5rem 5rem 4rem;
        position: relative;

        @media (max-width: 500px) {
            @include padding-x(var(--offset));
        }
    }

    &__empty {
        @extend %text-16;
        color: var(--gray);
        text-align: center;
        justify-self: center;
        margin: auto 0;
    }

    &__title {
        flex-grow: 1;
    }

    &__products {
        display: grid;
        gap: 2.6rem;
        align-content: start;
        flex-grow: 1;
        margin-bottom: 5rem;
    }

    &__product {
        column-gap: 1.5rem;
        padding-bottom: 1.7rem;
        border-bottom: 0.1rem solid #efefef;
        grid-template-areas: "image title title title"
            "image . . ."
            "image list list list"
            "image . . ."
            "image buttons counter prices";
        grid-template-columns: 11rem 1fr 1fr 1fr;

        @media(min-width: 768px) {
            grid-template-rows: auto 1.4rem auto 0.2rem auto;
        }

        @media (max-width: 767px) {
            grid-template-areas:
                'image title'
                'image .'
                'image list'
                'bottom bottom';
            grid-template-columns: 11rem auto;
            grid-template-rows: max-content 1.4rem max-content max-content;
        }
    }

    &__product-wrap {
        @extend %flex-row;
        grid-area: bottom;
        align-items: flex-end;
    }

    &__product-prices {
        flex-direction: column;
        text-align: right;
    }

    &__product-price {
        align-items: flex-end;
    }

    &__total {
        @extend %flex-row;
        @extend %text-16;
        font-weight: 600;
    }

    &__btn {
        @extend %flex-center;
        @extend %text-16;
        position: relative;
        padding: 2rem;
        font-weight: 600;

        @media (any-hover: hover) {
            &:hover {
                color: var(--white);

                &:before,
                &:after {
                    background-color: #2d703c;
                }
            }
        }

        svg {
            width: 5.6rem;
            height: 1.6rem;
            margin-left: var(--offset-xs);
        }
    }

    .basket-product__prices-wrap {
        flex-direction: column;
        gap: 0;
    }
}
