.header {
    position: relative;
    // .header__top

    &__top {
        display: none;

        @media (min-width: 1025px) {
            display: block;
            padding: 1.2rem 0;
        }
    }

    // .header__top-inner

    &__top-inner {
        @extend %flex-row-center;
    }

    &__region {
        &:not(:last-child) {
            @media (max-width: 1024px) {
                margin-bottom: 3rem;
            }
        }
    }

    // .header__shops-search

    &__shops-search {
        @extend .action-header;

        @media (min-width: 1025px) {
            margin-left: 4.3rem;
            margin-right: auto;
        }
    }

    // .header__contact

    &__contact {
        @extend %text-14;

        @media (min-width: 1025px) {
            display: flex;
        }
    }

    &__whatsapp {
        margin-left: 3.6rem;
    }

    // .header__main

    &__main {
        @extend %text-16;
        padding: 2.5rem 0 1rem;

        @media (max-width: 1024px) {
            padding-top: 2rem;
            padding-bottom: 0;
        }
    }

    // .header__main-top

    &__main-top {
        @extend %flex-row-center;
        flex-wrap: wrap;

        >* {
            @media (min-width: 1025px) {
                width: 33.3333%;
            }
        }

        @media (min-width: 1025px) {
            margin-bottom: 2.3rem;
        }
    }

    // .header__nav

    &__nav {
        @media (max-width: 1024px) {
            width: 100%;
            order: 4;
            margin-top: 2.4rem;
        }
    }

    // .header__logo

    &__logo {
        @media (min-width: 1025px) {
            display: flex;
            justify-content: center;
        }

        @media (max-width: 1024px) {
            margin-left: 1.6rem;
            margin-right: auto;
        }
    }

    &__logo-img {
        width: 20.7rem;

        @media (max-width: 1024px) {
            width: 17rem;
            height: 2.5rem;
        }

        @media (max-width: 767px) {
            width: 12rem;
            height: 1.7rem;
        }
    }

    // .header__actions

    &__actions {
        display: flex;
        gap: 5.3rem;

        @media (max-width: 1024px) {
            gap: 2rem;
        }

        @media (min-width: 1025px) {
            justify-content: flex-end;
        }

        >* {
            svg {
                @media (max-width: 1024px) {
                    margin-right: 0;
                }
            }

            span {
                @media (max-width: 1024px) {
                    display: none;
                }
            }
        }
    }

    // .header__search-btn

    &__search-btn {
        @extend %bg-contain;
        display: none;

        @media (max-width: 1024px) {
            display: block;
            width: 2rem;
            height: 2rem;
        }
    }

    // .header__main-bottom

    &__main-bottom {
        @media (min-width: 1025px) {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        @media (max-width: 1024px) {
            position: absolute;
            left: -100%;
            bottom: 0;
            transition: $transition left;
        }

        &.active {
            @media (max-width: 1024px) {
                left: 1.6rem;
                right: 1.6rem;
            }
        }
    }

    // .header__list

    &__list {
        display: none;

        @media (min-width: 1025px) {
            display: flex;
        }
    }

    // .header__list-item

    &__list-item {
        &:not(:last-child) {
            @media (min-width: 1025px) {
                margin-right: 3rem;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                .drop-menu {
                    @media (min-width: 1025px) {
                        visibility: visible;
                        opacity: 1;
                        pointer-events: all;
                    }
                }
            }
        }
    }

    // .header__list-link

    &__list-link {
        &--active {
            font-weight: 600;
        }

        &--red {
            color: var(--red);

            @media (any-hover: hover) {
                &:hover {
                    color: var(--red);
                }
            }
        }
    }
}