.header-info-line {
    @extend %text-13;
    @include padding-y(var(--offset-xs));
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--dark);
    color: var(--white);
    font-weight: 600;

    // .header-info-line__inner

    &__inner {
        @extend %flex-row-center;
        @include padding-x(var(--offset));
        flex-shrink: 0;
        margin: 0 auto;
        width: 100%;
        animation: marquee 15s linear infinite;

        @media (max-width: 767px) {
            animation-duration: 5s;
        }

        p {
            white-space: nowrap;

            &:last-child {
                @media (max-width: 767px) {
                    display: none;
                }
            }
        }
    }

    &__close {
        display: none;

        @media (min-width: 1025px) {
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 12 / 1600 * 100%;
            width: var(--icon-size);
            height: var(--icon-size);
        }

        svg {
            transition: var(--transition) fill;
        }

        @media (any-hover: hover) {
            &:hover {
                svg {
                    fill: var(--white);
                }
            }
        }
    }
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100vw, 0);
    }
}
