$name: 'category-item';

.#{$name} {
    @extend %flex-col-center;
    text-align: center;
    transition: var(--transition) color;

    @media (max-width: 767px) {
        margin-right: 2.5rem;
    }

    // .icons-slider__item-img

    &__img {
        @extend %flex-center;
        width: 12.8rem;
        height: 12.8rem;
        background-color: var(--gray-bg);
        border-radius: 7.1rem;
        overflow: hidden;

        &:not(:last-child) {
            margin-bottom: var(--offset);
        }
    }

    // .icons-slider__item-title

    &__title {
        @extend %text-16;
        font-weight: 600;

        @media (max-width: 500px) {
            font-size: 1.4rem;
            line-height: 2.1rem;
        }
    }
}
