.order-details-table {
    font-weight: 500;
    @extend %flex-row;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: var(--gray-bg);
    border: 0.1rem solid var(--line-color);
    padding: 1.5rem;

    @media (max-width: 767px) {
        padding-left: 0;
        padding-right: 0;
    }

    @media (max-width: 500px) {
        font-size: 1.3rem;
        line-height: 1.9rem;
    }

    // .order-table__item

    &__item {
        padding: 1.5rem;
        width: max-content;

        @media (max-width: 767px) {
            width: 50%;
        }

        @media (max-width: 500px) {
            width: 100%;
        }

        p {
            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }
        }

        &:last-child {
            @media (max-width: 1024px) {
                width: 50%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 1.5rem;
            }

            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }

    // .order-table__item-title

    &__item-title {
        font-weight: 600;

        span {
            margin-left: 0.5rem;
        }

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__item-wrap {
        &:not(:last-child) {
            margin-bottom: 2rem;

            @media (max-width: 1024px) {
                margin-bottom: 0;
                margin-right: 3rem;
            }
        }
    }

    // .order-rable__btn

    &__btn {
        font-weight: 500;
        padding: 1.4rem 3.6rem;
    }
}

.order-status {
    font-weight: 500;
    color: var(--red);
}

.order-product {
    display: grid;
    grid-template-columns: 10rem 1fr;
    gap: 1.4rem 2rem;
    grid-template-areas:
        'picture title'
        'picture dl';

    &__img {
        grid-area: picture;

        img {
            @extend %cover;
        }
    }

    // .order-product__title

    &__title {
        grid-area: title;
    }

    &__list {
        grid-area: dl;
    }
}

.product-title {
    @extend %text-16;
    font-weight: 600;
}

.product-list {
    @extend %text-13;

    > div {
        &:not(:last-child) {
            margin-bottom: 0.6rem;
        }
    }

    dt {
        color: var(--gray);
        float: left;
        padding-right: 0.3rem;
    }
}

.order-success-table {
    &__body {
        padding: 3rem;
        border: 0.1rem solid var(--line-color);
        border-top: none;

        @media (max-width: 500px) {
            padding: 1.5rem;
        }
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: 2.5rem;
        }
    }

    &__products {
        display: grid;
        gap: calc(var(--gap) / 2) var(--gap);

        @media (max-width: 1024px) {
            gap: 3rem;
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 1025px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
