.order-table {
  // .order-table__item

  &__item {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}

.order-item {
  // .order-item__header

  &__header {
    background-color: #f4f4f6;
    padding: 2rem;

    @media (max-width: 500px) {
      padding: 1.5rem;
    }
  }

  // .order-item__header-wrap

  &__header-wrap {
    display: grid;
    gap: 1rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, max-content);
      justify-content: space-between;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  // .order-item__title

  &__title {
    @extend %text-16;
    font-weight: 600;
  }

  // .order-item__price

  &__price {
    @extend %text-16;
    font-weight: 600;
  }

  // .order-item__header-buttons

  &__header-buttons {
    @extend %vertical-align;

    @media (max-width: 500px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  // .order-item__status-label

  &__status-label {
    @extend %text-13;
    font-weight: 600;
    padding: 0.6rem 1.6rem;
    border-radius: 2.4rem;

    @media (any-hover: hover) {
      &:hover {
        background-color: $green;
        color: #fff;
      }
    }

    &:not(:last-child) {
      @media (min-width: 501px) {
        margin-right: 2.5rem;
      }

      @media (max-width: 500px) {
        margin-bottom: 1rem;
      }
    }
  }

  // .order-item__follow-link

  &__follow-link {
    @extend %vertical-align;
    transition: 0.3s color;

    span {
      @extend %text-13;
      text-decoration: underline;

      &:not(:last-child) {
        margin-right: 0.4rem;
      }
    }

    svg {
      width: 1.2rem;
      height: 1.2rem;

      path {
        transition: 0.3s fill;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        color: #9b9b9b;

        svg {
          path {
            fill: #9b9b9b;
          }
        }
      }
    }
  }

  // .order-item__body

  &__body {
    border: 0.1rem solid #efefef;
    border-top: none;

    @media (max-width: 500px) {
      padding: 1.5rem;
    }

    @media(min-width: 501px) {
      padding: 0.5rem;
    }

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }

    >* {
      padding: 1.5rem;
    }
  }

  // .order-item__content

  &__content {
    @media (min-width: 501px) {
      padding-right: 3rem;
    }

    @media (max-width: 500px) {
      margin-bottom: 2rem;
    }
  }

  // .order-item__delivery-date

  &__delivery-date {
    @extend %text-14;
    font-weight: 600;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  // .order-item__delivery-place

  &__delivery-place {
    @extend %text-14;

    &:not(:last-child) {
      margin-bottom: 2.2rem;

      @media (max-width: 500px) {
        margin-bottom: 1rem;
      }
    }
  }

  // .order-item__order-details

  &__delivery-place,
  &__order-details {
    color: #9b9b9b;
  }

  &__order-details {
    @extend %text-13;
    text-decoration: underline;

    @media (any-hover: hover) {
      &:hover {
        color: #000;
      }
    }
  }

  // .order-item__images

  &__images {
    display: flex;
    flex-wrap: wrap;
    margin: -0.6rem;
  }

  // .order-item__img

  &__img {
    width: 7.5rem;
    flex-shrink: 0;
    margin: 0.6rem;

    img {
      @extend %cover;
    }
  }
}