.product-sizes {
    // .product-sizes__title

    &__title {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    // .product-sizes__row

    &__row {
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem;

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }
}
