.search-form {
    position: relative;
    // .search-form__input

    &__input {
        @extend %text-12;
        line-height: 1.4rem;
        background-color: var(--white);
        border: 0.1rem solid var(--gray-777);
        width: 33.6rem;
        padding: 1.1rem 1.5rem 1.1rem 3.5rem;
        background-size: var(--icon-size);
        background-position: 1rem 50%;
        background-repeat: no-repeat;
        transition: var(--transition) width;

        &::placeholder {
            font-style: italic;
            color: var(--gray);
        }

        @media (max-width: 1024px) {
            border-color: #2d703c;
            padding: var(--offset-xs) 2.7rem var(--offset-xs) 3.4rem;
        }

        &.active {
            width: 100%;
        }

        &::placeholder {
            color: var(--gray-777);
        }
    }

    &__help {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 25;
        padding: var(--offset);
    }
}

.help-search {
    display: none;
    background-color: var(--white);
    box-shadow: 0rem -0.1rem 1rem rgba(0, 0, 0, 0.1);

    &__item {
        display: block;
        @extend %text-12;

        &:not(:last-child) {
            margin-bottom: var(--offset-xs);
        }

        span {
            color: var(--gray-777);
        }

        @media (any-hover: hover) {
            &:hover {
                color: var(--green);

                span {
                    color: var(--green);
                }
            }
        }
    }
}
