$name: 'profile-subscribes';

.#{$name} {
    // .profile-subscribes__inner

    display: grid;
    gap: 3rem var(--gap);

    @media (max-width: 1024px) {
        gap: 3rem;
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1025px) {
        grid-template-columns: 1fr 33.6rem;
        align-items: flex-start;
    }

    &__list {
        display: grid;
        gap: 3rem;
    }

    &__aside {
        min-height: 22.3rem;
        background-color: var(--gray-bg);

        @media (min-width: 768px) {
            justify-content: flex-end;
        }

        .subscribe-item {
            &__content {
                padding-top: 0;
                align-items: flex-start;
                border: none;
                flex-grow: 1;
            }
        }
    }
}
