.checkbox {
    $this: &;

    &__input {
        width: 1px;
        height: 1px;
        overflow: hidden;
        position: absolute;
        clip: rect(0 0 0 0);

        &:checked ~ #{$this}__input span {
            opacity: 1;
        }
    }

    &__style {
        position: relative;
        flex-shrink: 0;
        width: var(--icon-size);
        height: var(--icon-size);
        border: 0.1rem solid var(--dark);

        span {
            @extend %bg-contain;
            @extend %pos-center-xy;
            width: 1rem;
            height: 0.8rem;
            opacity: 0;
            transition: var(--transition) opacity;
        }
    }

    &__text {
        a {
            text-decoration: underline;
        }
    }

    &-color {
        width: var(--icon-size);
        height: var(--icon-size);
        border-radius: 50%;
        margin-left: var(--offset-xs);

        &--white {
            background: var(--white);
            border: 0.1rem solid var(--gray-c0);
        }

        & ~ #{$this}__text {
            margin-left: 0.5rem;
        }
    }
}

.checkbox__text,
.radiobutton__text {
    @extend %text-14;
}

// ===================== RADIO ===================== //
.radio {
    $this: &;

    &-box {
        width: 1px;
        height: 1px;
        overflow: hidden;
        position: absolute;
        clip: rect(0 0 0 0);

        &:checked ~ #{$this}-style {
            border-color: var(--dark);

            span {
                opacity: 1;
            }
        }
    }

    &-style {
        position: relative;
        flex-shrink: 0;
        display: flex;
        width: var(--icon-size);
        height: var(--icon-size);
        border-radius: 50%;
        border: 0.1rem solid var(--gray-c0);

        span {
            @extend %bg-contain;
            @extend %pos-center-xy;
            width: 0.9rem;
            height: 0.6rem;
            opacity: 0;
            transition: var(--transition) opacity;
        }

        /* span {
            opacity: 0;
            transition: var(--transition) opacity;
        } */
    }

    &--type {
        &_size {
            #{$this} {
                &-text {
                    @extend %flex-center;
                    width: 3.5rem;
                    height: 3.5rem;
                    text-align: center;
                    border: 0.1rem solid var(--dark);
                    cursor: pointer;

                    @media (any-hover: hover) {
                        &:hover {
                            background-color: var(--dark);
                            color: var(--white);
                        }
                    }
                }

                &-box {
                    &:checked + #{$this}-text {
                        background-color: var(--dark);
                        color: var(--white);
                    }

                    &:disabled {
                        & + #{$this}-text {
                            position: relative;
                            color: var(--gray);
                            border-color: var(--gray);
                            cursor: not-allowed;

                            @media (any-hover: hover) {
                                &:hover {
                                    background-color: transparent;
                                    color: var(--gray);
                                }
                            }

                            &:before {
                                content: '';
                                position: absolute;
                                top: -0.7rem;
                                left: var(--offset);
                                width: 0.1rem;
                                height: 4.735rem;
                                background-color: var(--gray);
                                transform: rotate(-45deg);
                            }
                        }
                    }
                }
            }
        }

        &_color {
            #{$this} {
                &-style {
                    @extend %flex-center;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    border-width: 0;
                    border-style: solid;

                    span {
                        width: 2.2rem;
                        height: 2.2rem;
                        border-radius: 50%;
                    }
                }

                &-box {
                    &:checked ~ #{$this}-style {
                        border-width: 0.1rem;

                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }

        &_gender {
            #{$this} {
                &-style {
                    @extend %flex-center;
                    border: 0.1rem solid #d0d0d0;
                    width: 100%;
                    height: 4.6rem;
                    border-radius: 0;

                    span {
                        width: auto;
                        height: auto;
                        opacity: 1;
                    }
                }

                &-text {
                    @extend %text-13;
                    color: #000;
                    white-space: nowrap;
                }

                &-box {
                    &:checked + #{$this}-style {
                        border-color: var(--dark);
                        background-color: var(--dark);

                        #{$this}-text {
                            color: var(--white);
                        }
                    }
                }
            }
        }
    }
}
