// ===================== CHECKBOXES ==================== //
.check {
    $this: &;

    &-box {
        width: 1px;
        height: 1px;
        overflow: hidden;
        position: absolute;
        clip: rect(0 0 0 0);

        &:checked ~ #{$this}-style span {
            opacity: 1;
        }
    }

    &-style {
        position: relative;
        flex-shrink: 0;
        width: var(--icon-size);
        height: var(--icon-size);
        border: 0.1rem solid var(--dark);

        span {
            @extend %bg-contain;
            @extend %pos-center-xy;
            width: 1rem;
            height: 0.8rem;
            position: absolute;
            opacity: 0;
            transition: $transition opacity;
        }
    }

    &-text {
        a {
            text-decoration: underline;
        }
    }

    &-color {
        width: var(--icon-size);
        height: var(--icon-size);
        border-radius: 50%;
        margin-left: 1rem;

        &--white {
            background: #fff;
            border: 0.1rem solid var(--gray-c0);
        }

        & + .check-text {
            margin-left: 0.5rem;
        }
    }
}

.check-text,
.radio-text {
    @extend %text-14;
}

// ===================== RADIO ===================== //
.radio {
    &-box {
        width: 1px;
        height: 1px;
        overflow: hidden;
        position: absolute;
        clip: rect(0 0 0 0);
    }

    &-style {
        position: relative;
        flex-shrink: 0;
        width: var(--icon-size);
        height: var(--icon-size);
        border-radius: 50%;
        border: 0.1rem solid var(--gray-c0);

        span {
            @extend %bg-contain;
            @extend %pos-center-xy;
            position: absolute;
            width: 0.9rem;
            height: 0.6rem;
        }
        /* span {
            opacity: 0;
            transition: $transition opacity;
        } */
    }
}
