.icon {
    flex-shrink: 0;
    width: var(--icon-size);
    height: var(--icon-size);
    transition: $transition fill;

    &--size {
        &_xs {
            width: var(--icon-size_xs);
            height: var(--icon-size_xs);
        }

        &_s {
            width: var(--icon-size_s);
            height: var(--icon-size_s);
        }

        &_ms {
            width: var(--icon-size_ms);
            height: var(--icon-size_ms);
        }

        &_m {
            width: var(--icon-size_m);
            height: var(--icon-size_m);
        }

        &_l {
            width: var(--icon-size_l);
            height: var(--icon-size_l);
        }
    }
}
