.labels {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.label {
    @extend %flex-center;
    @extend %text-14;
    font-weight: 600;
    color: #fff;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;

    &--discount {
        background-color: var(--red);
    }

    &--new {
        background-color: var(--green);
    }
}

.catalog-card,
.product-popup {
    .labels {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        z-index: 10;
    }
}
