.player-btn {
  position: absolute;
  @extend %pos-center-xy;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 0.1rem solid rgba(#fff, 0.7);
  transition: 0.3s background-color;

  &::before {
    content: '';
    position: absolute;
    @extend %pos-center-y;
    left: calc(50% - 2.1rem / 2);
    width: 2.1rem;
    height: 2.4rem;
    background-color: #fff;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    transition: 0.3s background-color;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: #fff;

      &::before {
        background-color: #101112;
      }
    }
  }
}