.product-list {
    @extend %text-13;

    > div {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 0.6rem;
        }
    }

    dt {
        color: var(--gray);
        float: left;
        padding-right: 0.3rem;
    }
}
