.section {
  padding-bottom: 8rem;

  @media (max-width: 500px) {
    padding-bottom: 5rem;
  }

  &__title {
    @extend %flex-row-center;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}

.slider-section {
  &__items {
    display: grid;
    gap: 5.2rem;

    @media(max-width: 767px) {
      gap: 3rem;
    }

    @media(min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media(min-width: 1025px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}