.select {
    position: relative;

    &__title {
        @extend %flex-row-center;
        @extend %text-16;
        cursor: pointer;
        height: 4.6rem;
        padding-left: 1.5rem;
        padding-right: 1.8rem;
        font-weight: 600;
        border: 0.1rem solid var(--gray-c0);

        svg {
            fill: var(--dark-gray);
            transition: $transition fill,
                $transition transform;

            @media (any-hover: hover) {
                &:hover {
                    fill: var(--green);
                }
            }
        }

        &.active {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    &__content {
        position: absolute;
        top: 4.5rem;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 25;
        background-color: #fff;
        padding: 2rem 1.5rem;
        border: 0.1rem solid var(--gray-c0);
        border-top-color: #fff;
    }

    &__input {
        display: none;

        &:checked {
            & + .radio-style {
                border-color: var(--dark);

                span {
                    opacity: 1;
                }
            }
        }
    }

    &__option {
        @extend %vertical-align;
        position: relative;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 1.4rem;
        }
    }

    &__option-text {
        @extend %text-16;
        margin-left: var(--offset-xs);
    }
}
