.tabs {
    display: flex;
}

.tab {
    @extend %text-16;
    position: relative;

    @media (any-hover: hover) {
        &:hover {
            color: #9b9b9b;
        }
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 0.2rem;
        background-color: $green;
        transition: 0.3s width;
    }

    &--active {
        font-weight: 600;
        color: $green;

        @media (any-hover: hover) {
            &:hover {
                color: $green;
            }
        }

        &:after {
            width: 100%;
        }
    }
}

.tabs-content {
    display: none;

    &--active {
        display: block;
    }
}
