@mixin scrollbar {
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 0.5rem;
        border-radius: 0.4rem;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--gray-c0);
        border-radius: 0.4rem;
    }
}

@mixin row-grid($gap) {
    display: grid;
    row-gap: $gap;
}