// colors
:root {
    --container-width: 150rem;
    --container-padding: 1.6rem;

    --gap: 5.2rem;

    --dark: #101112;
    --dark-gray: #505661;
    --gray: #9b9b9b;
    --gray-777: #777;
    --gray-bg: #f4f4f6;
    --gray-c0: #c0c0c0;
    --line-color: #eaeaea;
    --green: #479458;
    --green-second: #2d703c;
    --red: #ee3333;

    --icon-size: 1.6rem;
    --icon-size_m: 2.4rem;
    --icon-size_xl: 3.2rem;
}

$dark: #101112;
$green: #479458;
$red: #ee3333;

$transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 0.3s; // указывать только в секундах!
$duration--long: 1s; // указывать только в секундах!
$delay: $duration;
$transition: $duration $transition-timing;

// Typography

%text-10 {
    font-size: 1rem;
    line-height: 1.5rem;
}

%text-11 {
    font-size: 1.1rem;
    line-height: 1.6rem;
}

%text-12 {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

%text-13 {
    font-size: 1.3rem;
    line-height: 1.9rem;
}

%text-14 {
    font-size: 1.4rem;
    line-height: 2.1rem;
}

%text-16 {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

%text-17 {
    font-size: 1.7rem;
    line-height: 2.5rem;
}

%text-18 {
    font-size: 1.8rem;
    line-height: 2.7rem;
}

%text-20 {
    font-size: 2rem;
    line-height: 3rem;
}

%text-24 {
    font-size: 2.4rem;
    line-height: 2.9rem;
}

%text-25 {
    font-size: 2.5rem;
    line-height: 3.7rem;
}

%text-30 {
    font-size: 3rem;
    line-height: 4rem;
}

%text-35 {
    font-size: 3.5rem;
    line-height: 4.5rem;
}

%text-40 {
    font-size: 4rem;
    line-height: 52 / 40 * 100%;

    @media (max-width: 1024px) {
        font-size: 3.6rem;
    }

    @media (max-width: 500px) {
        font-size: 2.4rem;
    }
}

%text-48 {
    font-size: 4.8rem;
    line-height: 5.8rem;
}

// flex
%vertical-align {
    display: flex;
    align-items: center;
}

%flex-center {
    @extend %vertical-align;
    justify-content: center;
}

%flex-row {
    display: flex;
    justify-content: space-between;
}

%flex-row-center {
    @extend %flex-row;
    align-items: center;
}

%flex-row-end {
    @extend %flex-row;
    align-items: flex-end;
}

%flex-col {
    display: flex;
    flex-direction: column;
}

%flex-col-center {
    @extend %flex-col;
    align-items: center;
}

%flex-col-end {
    @extend %flex-col;
    align-items: flex-end;
}

// positioning
%pos-center-x {
    left: 50%;
    transform: translateX(-50%);
}

%pos-center-y {
    top: 50%;
    transform: translateY(-50%);
}

%pos-center-xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// background
%cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

%bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

%bg-contain {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
