.breadcrumbs {
    //display: none;
    padding: 4rem 0 2rem;

    /* @media (min-width: 768px) {
        display: block;
    } */

    @media (max-width: 500px) {
        padding-top: 2rem;
    }

    &__item {
        position: relative;
        display: inline-block;
        @extend %text-13;
        transition: $transition color;

        @media (max-width: 500px) {
            font-size: 1.2rem;
            line-height: 1.8rem;
            padding-right: var(--offset-s);
            margin-right: var(--offset-xxs);
        }

        @media (any-hover: hover) {
            &:hover {
                color: var(--green);
            }
        }

        span {
            color: var(--gray);
        }

        &:not(:last-child) {
            padding-right: 1.8rem;
            margin-right: 1.4rem;

            &:after {
                @extend %pos-center-y;
                content: '|';
                right: 0;
            }
        }
    }
}
