.page-nav {
    // .page-nav__list

    &__list {
        border-left: 0.2rem solid var(--green);
        padding-left: 4rem;

        @media (max-width: 500px) {
            padding-left: 3rem;
        }
    }

    // .page-nav__item

    &__item {
        &:not(:last-child) {
            margin-bottom: 2.6rem;

            @media (max-width: 500px) {
                margin-bottom: 1.5rem;
            }
        }
    }

    // .page-nav__link

    &__link {
        @extend %text-16;
        //color: var(--dark-gray);

        @media (any-hover: hover) {
            &:hover {
                color: var(--gray);
            }
        }

        &.active {
            padding-left: 1.8rem;
            position: relative;
            font-weight: 600;
            color: var(--green);

            &:before {
                content: '';
                position: absolute;
                top: 0.9rem;
                left: 0;
                width: 1.2rem;
                height: 0.2rem;
                background-color: var(--green);
            }

            @media (any-hover: hover) {
                &:hover {
                    color: var(--green);
                }
            }
        }
    }
}
