.pagination {
    @extend %vertical-align;
    justify-content: flex-end;
    gap: 1.5rem;
    padding: var(--gap) 0;

    @media (max-width: 767px) {
        justify-content: center;
        gap: 0.5rem;
    }

    &--align {
        &_center {
            justify-content: center;
        }
    }

    // .pagination__list

    &__list {
        display: flex;
    }

    // .pagination__link

    &__link {
        @extend %text-20;
        font-weight: 500;
        color: var(--gray);
        padding: 0 2rem;

        @media(max-width: 767px) {
            padding: 0 1.5rem;
        }

        @media (max-width: 500px) {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }

        &.active {
            color: var(--dark);
        }

        @media (any-hover: hover) {
            &:hover {
                color: var(--red);
            }
        }
    }

    &__arrow {
        svg {
            width: 5.6rem;
            height: 1.6rem;
            fill: var(--dark);
            transition: $transition fill;

            @media (max-width: 767px) {
                width: 4rem;
                height: 1.2rem;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                svg {
                    fill: var(--red);
                }
            }
        }
    }
}