.pagination {
    @extend %vertical-align;
    justify-content: flex-end;
    padding: 5.2rem 0;

    @media (max-width: 767px) {
        justify-content: center;
    }

    // .pagination__list

    &__list {
        display: flex;
    }

    // .pagination__item

    &__item {
        &:not(:last-child) {
            margin-right: 4rem;
            @media (max-width: 767px) {
                margin-right: 3rem;
            }
        }
    }

    // .pagination__link

    &__link {
        @extend %text-20;
        font-weight: 500;
        color: #9b9b9b;
        @media (max-width: 500px) {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }

        &.active {
            color: #101112;
        }

        @media (any-hover: hover) {
            &:hover {
                color: $red;
            }
        }
    }

    &__prev,
    &__next {
        svg {
            width: 5.6rem;
            height: 1.6rem;
            @media (max-width: 767px) {
                width: 4rem;
                height: 1.2rem;
            }

            path {
                transition: 0.3s fill;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                svg path {
                    fill: $red;
                }
            }
        }
    }

    &__prev {
        margin-right: 3.5rem;
        @media (max-width: 767px) {
            margin-right: 2rem;
        }
    }

    // .pagination__next

    &__next {
        margin-left: 3.5rem;
        @media (max-width: 767px) {
            margin-left: 2rem;
        }
    }
}
